@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  margin: 0;
}
/* reset css */
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #081c36;
  font-family: SegoeuiPc, Segoe UI, San Francisco, Helvetica Neue, Helvetica,
    Lucida Grande, Roboto, Ubuntu, Tahoma, Microsoft Sans Serif, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.root,
#__next {
  isolation: isolate;
}
/* reset css */

.active svg {
  fill: #fff;
}

.active circle {
  stroke: #006edc;
}

.active {
  background-color: #006edc;
}

.active path {
  stroke: #006edc;
}

.tab-item.selected {
  color: #006edc;
}

.contact-selected {
  /* background-color: #e5efff !important; */
  background-color: rgba(0, 104, 255, 0.11) !important;
}

.tab-indicator {
  transition: all 0.15s ease-in-out;
}

.contact-grid {
  display: grid;
  grid:
    [item1-start] "item1 item2 item3 item4" 37px
    [item1-start] "item1 item5 item5 item5" 37px
    / [item1] 60px [item2] 217px [item3] 20px [item4] 21px;
}

.contact-item1 {
  grid-area: item1;
}

.contact-item2 {
  grid-area: item2;
}

.contact-item3 {
  grid-area: item3;
}

.contact-item4 {
  grid-area: item4;
}

.contact-item5 {
  grid-area: item5;
}

a,
button,
img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2) !important;
}
